
dist: xenial

# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 3
python: 3.8

# Installing requirements
install:
  - sudo apt-get install python3-dev
  - pip install dbus-python
  - pip install -r requirements.txt

# Run the unit test
script:
- python3 fdn.py -v
